
body {
	margin: 0;
	padding: 0 15%;
  font-family: Roboto;
}
h1{
  font-size: 2.2rem
}
p{
  font-size: 1rem;
}

.master{
  max-width: 650px;
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: transparent;
}
.content{
  color: white;
  text-align: center;
  background-image:url('../assets/background.png');
  background-size: cover;
  padding: 25% 5%;
}
.sign{
  margin-top: 5%;
}
.sign p{
margin: 0;
}